@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f6f7f9;
    font-family: 'Nunito', sans-serif;
}
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #ffffff;
}
header #logo {
    padding-left: 10px;
    width: 140px;
    height: 25px;
}
header .link-user-header {
    padding-right: 15px;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: #000000;
}
.link-user-header #icon {
    width: 10px;
    height: 10px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #F9E423;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
section {
    display: flex;
    flex-direction: row;
}
section .borda-cabecalho1 {
    width: 20%;
    height: 3px;
    background-color:#473409;
}
section .borda-cabecalho2 {
    width: 20%;
    height: 3px;
    background-color:#805e17;
}
section .borda-cabecalho3 {
    width: 20%;
    height: 3px;
    background-color:#9e6d04;
}
section .borda-cabecalho3 {
    width: 20%;
    height: 3px;
    background-color:#b17901;
}
section .borda-cabecalho4 {
    width: 20%;
    height: 3px;
    background-color:#ac8d05;
}
section .borda-cabecalho5 {
    width: 20%;
    height: 3px;
    background-color:#e2ba06;
}
.conteudo {
    display: flex;
    height: 100vh;
}
aside {
    width: 50px;
    background-color: #F9E423;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    border-bottom-left-radius: 15px;
    transition: width 1s;
}
aside:hover {
    width: 250px;
    transition: width 1s;
}
aside li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;  
}
aside ul li:hover {
    background-color: #FAA61A;
}
aside li a{
    align-items: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 22px;
    padding-right: 150px;
}
li a:hover{
    color: white;
}
li i {
    font-size: 20px;
}
li #MP {
    flex: none;
}
a {
    text-align: center;
    color: #AA6F34;
    font-family: 'Nunito', sans-serif;
}
#drop li:hover{
    background-color: #F48221;
}
.submenu-user {
    padding-left: 40px;
    padding-right: 150px;
}
ul span {
    display: flex;
    align-items: center;
}
#dropdown:hover{
    transition: transform 0.3s ease;
    background-color: #FAA61A;
}
#dropdown:hover #drop{
    display: block;
}
#dropdown:hover #seta-user {
    transition: transform 0.3s ease;
    transform: rotate(90deg);
}
#dropdown #drop {
    display: none;
}

main {
    width: 100%;
    display: flex;
    justify-content: left;
    position: relative;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 20px;
}
main h4 {
    
    color: #212121;
    font-size: 20px;
}
main .line-professor .titulo-novo-prof {
    height: 30px;
    display: flex;
    gap: 10px;
    justify-content: left;
}
main #seta-professor {
    font-size: 10px;
}
.line-professor {
    width: 100%;
}
.line-professor .pesquisaAdd-user {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    height: 27px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.pesquisaAdd-user #pesquisa{
    padding: 10px;
    border: solid 2px #E0E0E0;
    border-radius: 10px;
    width: 250px;
    outline: none;
}
.search {
    position: relative;
}
#icon-search {
    position: absolute;
    right:10px;
    top: 11px;
    color: #F9E423;
    border:none;   
}
.pesquisaAdd-user .add-user {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    border-radius: 5px;
    color: white;
    background-color:   #00C247;
    display: flex;
    align-items: center;
    gap: 5px;
}

main .table {
    width: 99%;
    margin-top: 20px;
    margin: 10px;
    border: 0px;
    background-color: white;
    border-radius: 10px;
    box-shadow: #A3A3A333 1px 1px 4px;
}
.table .titulo-tabela {
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    color: #212121;
}
.table #btn {
    background-color: #00C247;
    padding: 6px;
    padding-left: 80px;
    padding-right: 85px;
    margin-bottom: 30px;
    border: none;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    border-radius: 5px;
    color: white;
    margin-left: 20px;
    cursor: pointer;
}
#tabela {
    width:80%;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    
}
#tabela .li-acao {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
input, select {
    border-radius: 5px;
    width: 200px;
    height: 30px;
    font-size: 15px;
    border: solid 2px #E0E0E0;
    outline: none;
     
}
input[type="checkbox"] {
    appearance: none;
    width: 42px;
    height: 20px;
    background-color: #E0E0E0;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: .3s;
}
input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: white;
    border-radius: 50%;
    left: 1px;
    top: 1px;
    transition: .3s;
}
input[type="checkbox"]::after {
    position: relative;
    color: #34384b;
    font-size: 20px;
    left: 20px;
    top: 30px;
    transition: .3s;

}
input[type="checkbox"]:checked {
    background-color:#4CAF50;
}
input[type="checkbox"]:checked:before {
    background: white;
    left: 23px;

}
input[type="checkbox"]:checked::after {
    content: "";
    color: #fff;
    left: 80px;
}

.edit-delet{
    display: inline-flex;
    gap: 5px;
}
.faleconosco #icon-fale-conosco {
    width: 20px;
    height: 20px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content:center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 20px;
    background-color: #F9E423;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.faleconosco .text-faleconosco{
    display: none;
    position: fixed;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    padding: 10px;
    border-radius: 5px;
    bottom: 35px;
    right: 80px;
    transition: display none 1s;
}
.faleconosco:hover .text-faleconosco {
    display: block;
}