@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4F9;
    font-family: 'Nunito', sans-serif;
}
main{
    background-color: #FFFFFF;
    width: 80%;
    height: 80vh;
    border-radius: 40px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
main .list-title img{
    margin-top: 50px;
}
form{
    width: 70%;
    height: 60vh;
    text-align: left;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}
form .selecionar-conteudo{
    display: flex;
    gap: 10px;
    width: 100%;
}
.selecionar-conteudo .text-dados{
    display: flex;
    gap: 10px;
}
.selecionar-conteudo .text-dados p{
    font-size: 15px;
}
.selecionar-conteudo h5{
    color: #F9E423;
}
.selecionar-conteudo h1{
    font-weight: 900;
    font-size: 30px;
    color: #212121;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-family: 'Nunito', sans-serif;
}
.selecionar-conteudo h1 span{
    font-size: 12px;
}
.selecionar-conteudo .basico, .selecionar-conteudo .padrao, .selecionar-conteudo .premiun{
    background-color: #FFFFFF;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    border: 1px solid #EEEEEE;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.selecionar-conteudo .basico:hover, .selecionar-conteudo .padrao:hover, .selecionar-conteudo .premiun:hover{
    background-color: #F9E423;
    transition: 1s;
}
.selecionar-conteudo .basico:hover .botao-select, .selecionar-conteudo .padrao:hover .botao-select, .selecionar-conteudo .premiun:hover .botao-select{
    background-color:#FFFFFF;
    transition: 0.5s;
    border: none;
}
.selecionar-conteudo .basico:hover h1, .selecionar-conteudo .padrao:hover h1, .selecionar-conteudo .premiun:hover h1{
    color: #FFFFFF;
    font-weight: 800;
}
.selecionar-conteudo .circulo{
    border-radius: 15px;
    width: 20px;
}
.selecionar-conteudo .botao-select{
    cursor: pointer;
}
form .btn{
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: end;
}

.botao-p{
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32%;
    height: 40px;
    background-color: #E0E0E0;
    color: #FFFFFF;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.botao-v{
    width: 32%;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.botao-p:hover, .btn img:hover{
    background-color: #00C247;
    transition: 1s;
}
.btn img{
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
}